<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <div class="licensed">
          &copy; <span id="year"></span> <b>TOUNO.io</b> design by
          <a href="https://mr.touno.io/" target="_blank">Kananek T.</a>v1.0
        </div>
      </div>
      <div class="footer-col footer-col-2">
        <div class="social-links">
          {%- include social.html -%}
        </div>
      </div>
    </div>

  </div>

  <script defer>document.getElementById('year').innerHTML = (new Date()).getFullYear();</script>
</footer>
